% from config import TEMPLATE_DIR

<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Tom's Poop Uploader</title>
    % include(TEMPLATE_DIR + "imports.html")

  </head>

  <body>

    <div class="container">

      <div class="row">

        <div class="col col-sm-10">
          <h1><span class="glyphicon glyphicon-camera"></span> Tom's Image Uploader</h1>
        </div>

        <div class="col col-sm-2">
          <a href="/settings" class="btn btn-info">
            <span style="font-size: 58px;" class="glyphicon glyphicon-cog"></span>
          </a>
        </div>

      </div>

      <div class="row">
        <p>The shitty little application that uploads photos for you and then crashes unexpectantly.</p>
      </div>

      <div class="row">

        <div class="col col-sm-10"></div>

        <div class="col col-sm-2">
          <a href="/new_album" class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span>
          </a>

          <a href="/sync" class="btn btn-success">
            <span class="glyphicon glyphicon-refresh"></span>
          </a>
        </div>
      </div>

      <hr>

      <div class="row pre-scrollable">

        % for album in albums:
          <div class="container well well-sm" style="width: 725px;">

            <div class="col col-sm-3" style="padding: 0px">
              <a href="{{album["link"]}}">
                <img src="{{album["cover_link"]}}" target="_blank" class="img-rounded" width="176" height="99">
              </a>
            </div>

            <div class="col col-sm-7">
              <a href="{{album["link"]}}" target="_blank"><font size="4">{{album["title"]}}</font></a>
              <div class="container-fluid">
                <div class="row">
                  <font size="2">{{album["directory"]}}</font> - {{album["images_count"]}} images
                </div>
                <div class="row">
                  <p style="overflow-wrap:break-word;">{{album["description"]}}</p>
                </div>

                <div class="row">
                </div>
              </div>
            </div>
          </div>
        % end

      </div>

    </div>

  </body>

</html>
