% from config import TEMPLATE_DIR

<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Tom's Poop Uploader</title>
    % include(TEMPLATE_DIR + "imports.html")
  </head>

  <body>

    <div class="container">

      <div class="row">
        <h1>First Time Setup</h1>
      </div>

      <div class="row">

        <div class="col-sm-6">
          <p>It appears you haven't used this program before so there's some information we're going to need from you.</p>
        </div>

        <div class="col-sm-6">
          <p>
            Now we require your PIN! No, not that PIN, your Imgur PIN.
            We've asked your computer to open a browser window that should cont
          </p>
        </div>

      </div>

      <div class="row">

        <div class="container well well-sm">
          <form role="form" action='/PIN' method='POST'>

            <div class="form-group">
              <label for="PIN">PIN:</label>
              <input class="form-control" name="PIN">
            </div>

            <button type="submit" class="btn btn-success">Finish</button>

          </form>
        </div>

      </div>

    </div>

  </body>

</html>
