% from config import TEMPLATE_DIR

<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Tom's Poop Uploader</title>
    % include(TEMPLATE_DIR + "imports.html")
  </head>

  <body>

    <div class="container">

      <div class="row">
        <h1>First Time Setup</h1>
      </div>

      <div class="row">

        <div class="col-sm-6">
          <p>It appears you haven't used this program before so there's some information we're going to need from you.</p>
        </div>

        <div class="col-sm-6">
          <p>
            In order to use this application not only do you require an Imgur account, but you are also required to
            register the application.
            If you do not have an Imgur account you can create one <a target="_blank" href="http://imgur.com/register">here</a>.
            After you have an account you must register this application <a target="_blank" href="https://api.imgur.com/oauth2/addclient">here</a>.
            Once you have registered the application you will be given the two values that this application requires.
            Don't worry, your secret is safe with me...
          </p>
        </div>

      </div>

      <div class="row">

        <div class="container well well-sm">
          <form role="form" action='/register' method='POST'>

            <div class="form-group">
              <label for="IMGUR_CLIENT_ID">Imgur Client-ID:</label>
              <input class="form-control" name="IMGUR_CLIENT_ID">
            </div>

            <div class="form-group">
              <label for="IMGUR_CLIENT_SECRET">Imgur Client Secret:</label>
              <input class="form-control" name="IMGUR_CLIENT_SECRET">
            </div>

            <button type="submit" class="btn btn-success">Next</button>

          </form>
        </div>

      </div>

    </div>

  </body>

</html>
