% from config import TEMPLATE_DIR

<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Settings</title>

    % include(TEMPLATE_DIR + "imports.html")

  </head>

  <body>

    <div class="container">
      <h2><span class="glyphicon glyphicon-cog"></span> Settings</h2>

      <form class="well well-sm" role="form" action='/settings' method='POST'>
        % for (setting, value) in setting_value_pairs:

          <div class="form-group">
            <label for="{{setting}}">{{setting}}:</label>
            <input class="form-control" name="{{setting}}" value="{{value}}">
          </div>
        % end

          <button type="submit" class="btn btn-danger btn-lg">
            <span class="glyphicon glyphicon-floppy-disk"></span> Save
          </button>

          <a href="/" class="btn" role="button">Cancel</a>

      </form>
    </div>

  </body>

</html>
